@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 340px;
}
card{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;
   
}

right-view{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.huddle{
    width: 45%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.mock-up{
    width: 95%;
    margin-bottom: 50px;
}
h1{
    font-size: 22px;
    text-align: center;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
p{
    margin-top: 15px;
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

button{
    width: 190px;
    padding: 9px;
    border-radius: 100px;
    border: none;
    margin-top: 20px;
    color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 10px 10px 5px hsl(257, 40%, 49%);
    font-size: 13px;
    margin-bottom: 50px;
}

icons{
    margin-bottom: 50px;
}
i{
    color: white;
    font-size: 11px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 32px;
    text-align: center;
}
i:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
button:hover{
    background-color: hsl(300, 69%, 71%);
    color: white;
}

@media screen and (min-width:375px) {
    body{
        background-image: url(/images/bg-desktop.svg);
    }
    
}

@media screen  and (min-width: 800px){

    card{
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    button{
        padding: 13px;
        width: 160px;
    }

    .huddle{
        width: 30%;
    }
    left-view{
        width: 55%;
    }

    img{
        width: 100%;
    }
    right-view{
        width: 45%;
        margin-left: 30px;
        display: flex;
        align-items: flex-start;
        
   }
    h1{
        font-size: 33px;
        padding-right: 70px;
        padding-left: 0;
        text-align: left;
    }
    p{
        text-align: left;
    }
    icons{
        margin-top: 20px;
        margin-bottom: 0;
        align-self: flex-end;
    }
    
}

@media screen  and (min-width: 1000px)
{
   
   h1{
    margin-top: 120px;
   }
    icons{
        padding-top: 110px;
    }
}
